<!-- Add Organization Modal -->
<div id="addOrganizationModal" class="modal hidden">
    <div class="modal-content">
      <h3 class="text-lg font-semibold mb-2">Add Organization</h3>
      <input type="text" id="newOrganizationName" class="w-full mb-2" placeholder="Organization Name">
      <div class="flex justify-end">
        <button id="saveOrganizationBtn" class="px-4 py-2 bg-primary dark:bg-secondary text-white rounded-md">Save</button>
        <button id="cancelOrganizationBtn" class="ml-2 px-4 py-2 bg-gray-500 text-white rounded-md">Cancel</button>
      </div>
    </div>
  </div>
  
  <!-- Add Project Modal -->
  <div id="addProjectModal" class="modal hidden">
    <div class="modal-content">
      <h3 class="text-lg font-semibold mb-2">Add Project</h3>
      <input type="text" id="newProjectName" class="w-full mb-2" placeholder="Project Name">
      <div class="flex justify-end">
        <button id="saveProjectBtn" class="px-4 py-2 bg-primary dark:bg-secondary text-white rounded-md">Save</button>
        <button id="cancelProjectBtn" class="ml-2 px-4 py-2 bg-gray-500 text-white rounded-md">Cancel</button>
      </div>
    </div>
  </div>
  
  <!-- Add Task Modal -->
  <div id="addTaskModal" class="modal hidden">
    <div class="modal-content">
      <h3 class="text-lg font-semibold mb-2">Add Task</h3>
      <input type="text" id="newTaskName" class="w-full mb-2" placeholder="Task Name">
      <div class="flex justify-end">
        <button id="saveTaskBtn" class="px-4 py-2 bg-primary dark:bg-secondary text-white rounded-md">Save</button>
        <button id="cancelTaskBtn" class="ml-2 px-4 py-2 bg-gray-500 text-white rounded-md">Cancel</button>
      </div>
    </div>
  </div>
  